<!DOCTYPE html>
<html>
<head>
	<title>Covid Tracker</title>
  <link rel = "icon" href =  
"https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Coronavirus_SVG_Vector_Image.svg/512px-Coronavirus_SVG_Vector_Image.svg.png" 
        type = "image/x-icon"> 
 <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet"> 
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/landingcss.css')}}"> 
 <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section class='section1' id='launch' >
  <div  class='sec1c'>
   <div class="list_ele"><ul data-aos="zoom-in" >
    <li><a href="/guidelines">Guidelines</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#algo">Algo</a></li>
    <li><a href="http://localhost/IWP%20PROJECT/home.php" target="_blank">Location Based Cases</a></li>
  </ul></div>
    <h1  data-aos="fade-right" style="font-family: 'Roboto',sans-serif;color:white;font-size: 90px;padding:100px 0 50px 50px;">All the Corona Details<br> at one place</h1>
    <p data-aos="fade-up" style="font-family: 'Roboto',sans-serif; font-size: 20px; color:white;padding-left:50px;padding-bottom: 50px;">Zone Prediction Using KNN algorithm</p>
    <a href='/exe'><button data-aos="fade-up" >Give a Try</button></a>
  </div>
</section>
<section class='section2' id='about'>
  <div data-aos="fade-up" class='sec2c'>
    <h1 style="font-family: 'Roboto',sans-serif;color:black;font-size: 80px;text-align: center;padding:40px;">About</h1>
    <div class="sec2ci" style="display: flex;flex-direction: row;justify-content: space-around;">
      <img src="{{url_for('static',filename='images/about.svg')}}" width=600px height=450px style="padding:10px;margin-right: 30px;">
      <p style="font-size: 30px;letter-spacing: 2px;line-height:50px;font-family: 'Roboto',sans-serif; display: flex; flex-direction: column;justify-content: center;margin:60px;">In this time of crisis we came up with an idea that can smartly predict which zone colour your area might fall in. Just enter your coordinate values and get the zone colour within no time.</p>

    </div>


  </div>
</section>

<section class='section3' id='algo'>
  <div data-aos="fade-up" class='sec3c'>
    <h1 style="font-family: 'Roboto',sans-serif;color:black;font-size: 80px;text-align: center;padding:40px;">Algo</h1>
    <div class="sec2ci" style="display: flex;flex-direction: row;justify-content: space-around;">
      <p style="font-size: 30px;letter-spacing: 2px;line-height:50px;font-family: 'Roboto',sans-serif; display: flex; flex-direction: column;justify-content: center;margin:60px;"> K-Nearest Neighbours algorithm (k-NN) is a non-parametric method used for classification. The input consists of the k closest training examples in the training examples in the feature space.</p>
      <img src="{{url_for('static',filename='images/algo.svg')}}" width=600px height=450px style="padding:10px;margin-left: 30px;">
      

    </div>
   
  </div>
</section>


<section class='section4' id='team'>
  <div data-aos="fade-right" class='sec4c'>
    <h1 style="font-family: 'Roboto',sans-serif;color:black;font-size: 80px;text-align: center;padding:40px;">Location Based Cases</h1>
    <div class="sec2ci" style="display: flex;flex-direction: row;justify-content: space-around;">
      <img src="{{url_for('static',filename='images/team.svg')}}" width=600px height=450px style="padding:10px;margin-right: 30px;">
      <p style="font-size: 30px;letter-spacing: 2px;line-height:50px;font-family: 'Roboto',sans-serif; display: flex; flex-direction: column;justify-content: center;margin:60px;"> With the help of Geo-Location API<br> we can get the cases in your nearest city reducing your time to explicitly search for it</p>

    </div>


  </div>
</section>

<footer style="background-color: black;">
  <p style="padding: 20px; color:white;text-align: center;font-size: 20px; font-family: 'Roboto',sans-serif;">Created with <i class="fa fa-heart" style="font-size:20px;color:red"></i> by Shreesh</p>
</footer>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      duration:1500,
    });
  </script>
</body>
</html>